/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
*{
}


#zesty{
  font: bold 2.5em Baskerville, "Times New Roman", serif;
  color: rgb(147, 175, 166);
  text-decoration: none;
}

#zesty:hover {
  color: rgb(107, 128, 122);
  text-decoration: none;
}

h1{
		margin: 0 0 10px 0;
}

div.picture{
	border-top: 1px solid rgb(204, 204, 204);
	margin-top: 5px;
	padding-top: 5px
}

h2{
  font: bold 2em "Times New Roman", serif;
  color: rgb(107, 128, 122);
}

[href*="http://"]:link {
  text-decoration: none;
  color: rgb(0, 130, 180);
}

[href*="http://"]:hover {
  text-decoration: underline;
}

.picture img{
  border: 5px solid;
  border-color: rgb(147, 175, 166);
}

.press-img img{
  border: 5px solid;
  border-color: rgb(204, 204, 204);
}

.press-img img:hover{
  border: 5px solid;
  border-color: rgb(107, 128, 122);
}

.wrapper p:last-child {
    color: rgb(85, 85, 85);
    font: normal .8em "Times New Roman", serif;
    text-align: right;
    position: relative;
    right: 7px
}
